.square-container{
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background: linear-gradient(#888, #777, #666, #333, #242424, #242424, #242424, #242424,#333, #444 );
    padding-bottom: 60px;
}


.movies-cont{
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.movies-list{
    display: flex;
    gap: 5px;
}

.button-cont{
    background-color: transparent;
}


.button-icon{
    color: #fff;
    width: 28px;
    font-size: 28px;
    filter: drop-shadow(0 0 10px #fff);
}

.main-info{
    width: 100%;
    display: flex;
    gap: 10px;
}

.label{
    margin: 0 0 10px 10px;
}

.is-active{
    font-weight: bold;
    background-color: #777;
    padding: 5px;
    border-radius: 8px;
}


.main-info-tv{
    margin-top: 40px;
}


@media (max-width: 600px){
    .main-info{
        margin: 0;
        flex-direction: column;
        gap: 0;
        justify-content: center;
        align-items: center;
    }
    .main-info-tv{
        margin: 0;
        flex-direction: column;
        gap: 0;
        justify-content: center;
        align-items: center;
        padding-left: 70px;
    }
    .is-active{
        display: none;
    }
    .label{
        margin: 10px 0; 
        text-align: center;
    }
}
